.Audio {
  display: inline;
}

.Audio .sound {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: #b6a2b0;
  font-size: 1.75rem;
}

.Audio .sound:hover {
  cursor: pointer;
  color: #663e5a;
}
