.Definitions {
  border: 5px solid #b6a2b0;
  border-radius: 10px;
  margin: 20px 0 10px 0;
}

.Definitions .secondHorizontalLine {
  height: 3px;
  width: 50%;
  background-color: #381731;
  opacity: 0.5;
  border: 1px solid #381731;
  margin: 0;
  display: inline-block;
}

.Definitions .subtitle {
  padding: 50px 0 0 0;
  color: #381731;
}

.Definitions p {
  font-size: 20px;
}
