.DisplaySearch {
  font-family: "Abel", sans-serif;
}

.DisplaySearch .word {
  padding-top: 30px;
  color: #381731;
}

.DisplaySearch .subtitle {
  padding: 50px 0 0 0;
  color: #381731;
}

.DisplaySearch p {
  font-size: 20px;
}

.DisplaySearch .sound {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: #b6a2b0;
  font-size: 1.75rem;
}

.DisplaySearch .sound:hover {
  cursor: pointer;
  color: #663e5a;
}

.DisplaySearch .horizontalLine,
.DisplaySearch .secondHorizontalLine {
  height: 5px;
  width: 50%;
  background-color: #381731;
  opacity: 0.5;
  border: 1px solid #381731;
  margin: 0;
  display: inline-block;
}

.DisplaySearch .secondHorizontalLine {
  height: 3px;
}
