.DisplaySearch {
  font-family: "Abel", sans-serif;
}

.DisplaySearch .search {
  padding-top: 30px;
  color: #381731;
}

.DisplaySearch .horizontalLine,
.DisplaySearch .secondHorizontalLine {
  height: 5px;
  width: 50%;
  background-color: #381731;
  opacity: 0.5;
  border: 1px solid #381731;
  margin: 0;
  display: inline-block;
}

.DisplaySearch .secondHorizontalLine {
  height: 3px;
}
